@{
    ViewData["Title"] = "Create Products";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@model Products.Models.NewProduct

<h1>New Product</h1>

<table>
    <form asp-action="CreateProduct" class="form" asp-controller="Home" method="post">
        <tr>
            <td><label asp-for="ProductName">Product Name:</label></td>
            <td><input asp-for="ProductName" type="text" name="ProductName"></td>
            <td><span asp-validation-for="ProductName" style="color:red;"></span></td>
        </tr>
        <tr>
            <td><label asp-for="Description"></label></td>
            <td><input asp-for="Description" type="text" name="Description"></td>
            <td><span asp-validation-for="Description" style="color:red;"></span></td>
        </tr>
        <tr>
            <td><label  asp-for="Price"></label></td>
            <td><input asp-for="Price" type="text" name="Price"></td>
            <td><span asp-validation-for="Price" style="color:red;"></span></td>
        </tr>
        <tr>
            <td><button class="btn btn-primary">Create</button></td>
        </tr>
    </form>
</table>
